{% extends "auctions/layout.html" %}

{% block body %}
{% if not watchlist %}
    <div id="watchlist-empty">
        <h5>Your watchlist is empty.</h5>
        <h5>Add an <a href="{% url 'index' %}">item</a> to get started.</h5>
    </div>
    
{% else %}

    <!-- Layout sourced from https://stackoverflow.com/questions/20309593/django-template-to-populate-bootstrap-rows-and-columns
     commenter Arpit. -->
    <div class="container">
        <div class="row">

        {% for listing in watchlist %}
            <div class="col-md-3 d-flex justify-content-center listing">
                <a class="listing-link" href="{% url 'listing' listing.id %}">
                <img class="listing-img" src="{{ listing.image_url }}">
                <p class="listing-title font-weight-bold">{{ listing.title }}</p>
                <p class="listing-price font-weight-bold">£{{ listing.price }}.00</p>
                <p class="listing-discription">{{ listing.discription}}</p>
                </a>
            </div>

            <!-- if last column in row -->
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                </div><div class="row">
            {% endif %}

        {% endfor %}

        </div>
    </div>
{% endif %}
{% endblock %}